<mat-card>
  <mat-card-header class="text-center justify-content-center">
    <mat-card-title>LOGIN</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (submit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username">
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-hint>Enter A Username</mat-hint>
        <mat-error *ngIf="viewFormError('username')">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="pass">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-hint>Enter A Password</mat-hint>
        <mat-error *ngIf="viewFormError('pass')">This field is required</mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="loginForm.invalid" type="submit" fullWidth>LOGIN</button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <button color="accent" mat-raised-button type="button" (click)="notRegistered()" fullWidth>CREATE A ACCOUNT NOW <mat-icon>exit_to_app</mat-icon></button>
  <!-- </mat-card-actions> -->
</mat-card-footer>
</mat-card>