@import '../auth.component.scss';

mat-form-field {
  width: 100%;
}

button {
  margin-top: 16px;
  background-color: $primary;
  height: 35px;
  width: 100%;
}

.register-icon {
  font-size: 65px;
  height: 65px;
  width: 65px;
}