<mat-card>
  <mat-card-header class="justify-content-center">
    <mat-card-title>
      <mat-icon class="register-icon">person_add</mat-icon>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (submit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <mat-hint>Enter Your First Name</mat-hint>
        <mat-error *ngIf="viewFormError('firstName') && this.registerForm.controls.firstName.hasError('required')">This
          field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <mat-hint>Enter Your Last Name</mat-hint>
        <mat-error *ngIf="viewFormError('lastName') && this.registerForm.controls.lastName.hasError('required')">This
          field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="Mobile Number" formControlName="phoneNumber">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <mat-hint>Enter Your Mobile Number</mat-hint>
        <mat-error *ngIf="viewFormError('phoneNumber') && this.registerForm.controls.phoneNumber.hasError('required')">
          This field is required</mat-error>
        <mat-error *ngIf="viewFormError('phoneNumber') && this.registerForm.controls.phoneNumber.hasError('pattern')">
          Mobile Number starts with either 6,7,8 or 9 and has 10 digits</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select formControlName="city">
          <mat-option *ngFor="let city of cities" [value]="city.value">
            {{city.name | titlecase}}
          </mat-option>
        </mat-select>
        <mat-hint>Select A City</mat-hint>
        <mat-error *ngIf="viewFormError('city')">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username">
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-hint>Enter A Username</mat-hint>
        <mat-error *ngIf="viewFormError('username')">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-hint>Enter A Password</mat-hint>
        <mat-error *ngIf="viewFormError('password')">This field is required</mat-error>
      </mat-form-field>

      <input type="file" name="myImage" accept="image/x-png,image/gif,image/jpeg" (change)="onImageChange($event)" />

      <button color="primary" mat-raised-button [disabled]="registerForm.invalid" type="submit" fullWidth>REGISTER</button>
    </form>
  </mat-card-content>
</mat-card>