<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" class="example-sidenav" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="justify-content-end">
        <button type="button" mat-button (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon> LOGOUT
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="pt-5 w-100 d-flex justify-content-center">
      <img [src]="layoutUrl" width="100px" height="100px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>