@import '../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../node_modules/ngx-toastr/toastr-bs4-alert.scss';

$primary: #64cc4d;
$white: white;

html, body { height: 100% !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-register {
  align-self: center;
  justify-content: center;
  max-width: 20%;
}

app-login {
  align-self: center;
  justify-content: center;
  max-width: 20%;
}